{% extends 'blog/base.html' %}
{% block content %}
    <section class="site-section py-lg">
      <div class="container">

        <div class="row blog-entries">
          <div class="col-md-12 col-lg-8 main-content">
            <h1 class="mb-4">{{ blog_info.blog_title }}</h1>
            <div class="post-meta">
<!--                        <span class="category">Food</span>-->
                        <span class="mr-2">{{ blog_info.created_date }} </span> &bullet;
                        <span class="ml-2"><span class="fa fa-comments"></span> 3</span>
                      </div>
            <div class="post-content-body">
              <p>{{ blog_info.blog_description}}</p>
              <div class="col-md-12 mb-4 element-animate">
                <img src="{{MEDIA_URL}} {{blog_info.blog_picture.url}}" alt="Image placeholder" class="img-fluid">
              </div>
            </div>
          </div>
          <div class="pt-5">
              <h3 class="mb-5">6 Comments</h3>
              <ul class="comment-list">
                  {% for user in user_comments %}
                <li class="comment">
<!--                    <div class="vcard"><h3>{{ user.name }}</h3></div>-->
                  <div class="comment-body">
                        <div class="meta">{{user.created_at}}</div>
                        <div class="meta">{{ user.email }}</div>
                        <p>{{ user.message }}</p>
                        <p><a href="#" class="reply">Reply</a></p>
                  </div>
                </li>
                  {% endfor %}
              </ul>

              <div class="comment-form-wrap pt-5">
                  <h3 class="mb-5">Leave a comment</h3>
                  <form method="post" class="p-5 bg-light">
                      {% csrf_token %}


                  <div class="form-group">
                    <label for="name">Name *</label>
                      {{ form.name }}
<!--                      {{ form.name }} #<input type="text" class="form-control" id="name">-->
                  </div>
                  <div class="form-group">
                    <label for="email">Email *</label>
                    {{ form.email }}
                  </div>
                      <div class="form-group">
                    <label for="message">Message</label>
                    {{ form.message }}
                      </div>


                  <div class="form-group">
                    <input type="submit" value="Post Comment" class="btn btn-primary">
                  </div>

                </form>
              </div>
            </div>

          </div>

          <!-- END main-content -->

          <div class="col-md-12 col-lg-4 sidebar">
            <div class="sidebar-box search-form-wrap">
              <form action="#" class="search-form">
                <div class="form-group">
                  <span class="icon fa fa-search"></span>
                  <input type="text" class="form-control" id="s" placeholder="Type a keyword and hit enter">
                </div>
              </form>
            </div>
            <!-- END sidebar-box -->
            <div class="sidebar-box">
              <div class="bio text-center">
                <img src="images/person_1.jpg" alt="Image Placeholder" class="img-fluid">
                <div class="bio-body">
                  <h2>Meagan Smith</h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem facilis sunt repellendus excepturi beatae porro debitis voluptate nulla quo veniam fuga sit molestias minus.</p>
                  <p><a href="#" class="btn btn-primary btn-sm">Read my bio</a></p>
                  <p class="social">
                    <a href="#" class="p-2"><span class="fa fa-facebook"></span></a>
                    <a href="#" class="p-2"><span class="fa fa-twitter"></span></a>
                    <a href="#" class="p-2"><span class="fa fa-instagram"></span></a>
                    <a href="#" class="p-2"><span class="fa fa-youtube-play"></span></a>
                  </p>
                </div>
              </div>
            </div>
            <!-- END sidebar-box -->
            <div class="sidebar-box">
              <h3 class="heading">Popular Posts</h3>
              <div class="post-entry-sidebar">
                <ul>
                  <li>
                    <a href="">
                      <img src="images/img_1.jpg" alt="Image placeholder" class="mr-4">
                      <div class="text">
                        <h4>There’s a Cool New Way for Men to Wear Socks and Sandals</h4>
                        <div class="post-meta">
                          <span class="mr-2">March 15, 2018 </span> &bullet;
                          <span class="ml-2"><span class="fa fa-comments"></span> 3</span>
                        </div>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a href="">
                      <img src="images/img_1.jpg" alt="Image placeholder" class="mr-4">
                      <div class="text">
                        <h4>There’s a Cool New Way for Men to Wear Socks and Sandals</h4>
                        <div class="post-meta">
                          <span class="mr-2">March 15, 2018 </span> &bullet;
                          <span class="ml-2"><span class="fa fa-comments"></span> 3</span>
                        </div>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a href="">
                      <img src="images/img_1.jpg" alt="Image placeholder" class="mr-4">
                      <div class="text">
                        <h4>There’s a Cool New Way for Men to Wear Socks and Sandals</h4>
                        <div class="post-meta">
                          <span class="mr-2">March 15, 2018 </span> &bullet;
                          <span class="ml-2"><span class="fa fa-comments"></span> 3</span>
                        </div>
                      </div>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <!-- END sidebar-box -->

            <div class="sidebar-box">
              <h3 class="heading">Categories</h3>
              <ul class="categories">
                <li><a href="#">Courses <span>(12)</span></a></li>
                <li><a href="#">News <span>(22)</span></a></li>
                <li><a href="#">Design <span>(37)</span></a></li>
                <li><a href="#">HTML <span>(42)</span></a></li>
                <li><a href="#">Web Development <span>(14)</span></a></li>
              </ul>
            </div>
            <!-- END sidebar-box -->

            <div class="sidebar-box">
              <h3 class="heading">Tags</h3>
              <ul class="tags">
                <li><a href="#">Travel</a></li>
                <li><a href="#">Adventure</a></li>
                <li><a href="#">Food</a></li>
                <li><a href="#">Lifestyle</a></li>
                <li><a href="#">Business</a></li>
                <li><a href="#">Freelancing</a></li>
                <li><a href="#">Travel</a></li>
                <li><a href="#">Adventure</a></li>
                <li><a href="#">Food</a></li>
                <li><a href="#">Lifestyle</a></li>
                <li><a href="#">Business</a></li>
                <li><a href="#">Freelancing</a></li>
              </ul>
            </div>
          </div>
          <!-- END sidebar -->

        </div>
      </div>
    </section>

<!--    <section class="py-5">-->
<!--      <div class="container">-->
<!--        <div class="row">-->
<!--          <div class="col-md-12">-->
<!--            <h2 class="mb-3 ">Related Post</h2>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="row">-->
<!--          <div class="col-md-6 col-lg-4">-->
<!--            <a href="#" class="a-block d-flex align-items-center height-md" style="background-image: url('images/img_2.jpg'); ">-->
<!--              <div class="text">-->
<!--                <div class="post-meta">-->
<!--                  <span class="category">Lifestyle</span>-->
<!--                  <span class="mr-2">March 15, 2018 </span> &bullet;-->
<!--                  <span class="ml-2"><span class="fa fa-comments"></span> 3</span>-->
<!--                </div>-->
<!--                <h3>There’s a Cool New Way for Men to Wear Socks and Sandals</h3>-->
<!--              </div>-->
<!--            </a>-->
<!--          </div>-->
<!--          <div class="col-md-6 col-lg-4">-->
<!--            <a href="#" class="a-block d-flex align-items-center height-md" style="background-image: url('images/img_3.jpg'); ">-->
<!--              <div class="text">-->
<!--                <div class="post-meta">-->
<!--                  <span class="category">Travel</span>-->
<!--                  <span class="mr-2">March 15, 2018 </span> &bullet;-->
<!--                  <span class="ml-2"><span class="fa fa-comments"></span> 3</span>-->
<!--                </div>-->
<!--                <h3>There’s a Cool New Way for Men to Wear Socks and Sandals</h3>-->
<!--              </div>-->
<!--            </a>-->
<!--          </div>-->
<!--          <div class="col-md-6 col-lg-4">-->
<!--            <a href="#" class="a-block d-flex align-items-center height-md" style="background-image: url('images/img_4.jpg'); ">-->
<!--              <div class="text">-->
<!--                <div class="post-meta">-->
<!--                  <span class="category">Food</span>-->
<!--                  <span class="mr-2">March 15, 2018 </span> &bullet;-->
<!--                  <span class="ml-2"><span class="fa fa-comments"></span> 3</span>-->
<!--                </div>-->
<!--                <h3>There’s a Cool New Way for Men to Wear Socks and Sandals</h3>-->
<!--              </div>-->
<!--            </a>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->


<!--    </section>-->
<!--    &lt;!&ndash; END section &ndash;&gt;-->

<!--    <footer class="site-footer">-->
<!--      <div class="container">-->
<!--        <div class="row mb-5">-->
<!--          <div class="col-md-4">-->
<!--            <h3>Paragraph</h3>-->
<!--            <img src="images/img_1.jpg" alt="Image placeholder" class="img-fluid">-->
<!--            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi, accusantium optio unde perferendis eum illum voluptatibus dolore tempora, consequatur minus asperiores temporibus reprehenderit.</p>-->
<!--          </div>-->
<!--          <div class="col-md-6 ml-auto">-->
<!--            <div class="row">-->
<!--              <div class="col-md-7">-->
<!--                <h3>Latest Post</h3>-->
<!--                <div class="post-entry-sidebar">-->
<!--                <ul>-->
<!--                    <li>-->
<!--                      <a href="">-->
<!--                        <img src="images/img_6.jpg" alt="Image placeholder" class="mr-4">-->
<!--                        <div class="text">-->
<!--                          <h4>There’s a Cool New Way for Men to Wear Socks and Sandals</h4>-->
<!--                          <div class="post-meta">-->
<!--                            <span class="mr-2">March 15, 2018 </span> &bullet;-->
<!--                            <span class="ml-2"><span class="fa fa-comments"></span> 3</span>-->
<!--                          </div>-->
<!--                        </div>-->
<!--                      </a>-->
<!--                    </li>-->
<!--                    <li>-->
<!--                      <a href="">-->
<!--                        <img src="images/img_3.jpg" alt="Image placeholder" class="mr-4">-->
<!--                        <div class="text">-->
<!--                          <h4>There’s a Cool New Way for Men to Wear Socks and Sandals</h4>-->
<!--                          <div class="post-meta">-->
<!--                            <span class="mr-2">March 15, 2018 </span> &bullet;-->
<!--                            <span class="ml-2"><span class="fa fa-comments"></span> 3</span>-->
<!--                          </div>-->
<!--                        </div>-->
<!--                      </a>-->
<!--                    </li>-->
<!--                    <li>-->
<!--                      <a href="">-->
<!--                        <img src="images/img_4.jpg" alt="Image placeholder" class="mr-4">-->
<!--                        <div class="text">-->
<!--                          <h4>There’s a Cool New Way for Men to Wear Socks and Sandals</h4>-->
<!--                          <div class="post-meta">-->
<!--                            <span class="mr-2">March 15, 2018 </span> &bullet;-->
<!--                            <span class="ml-2"><span class="fa fa-comments"></span> 3</span>-->
<!--                          </div>-->
<!--                        </div>-->
<!--                      </a>-->
<!--                    </li>-->
<!--                  </ul>-->
<!--              </div>-->
<!--              </div>-->
<!--              <div class="col-md-1"></div>-->

<!--              <div class="col-md-4">-->

<!--                <div class="mb-5">-->
<!--                  <h3>Quick Links</h3>-->
<!--                  <ul class="list-unstyled">-->
<!--                    <li><a href="#">About Us</a></li>-->
<!--                    <li><a href="#">Travel</a></li>-->
<!--                    <li><a href="#">Adventure</a></li>-->
<!--                    <li><a href="#">Courses</a></li>-->
<!--                    <li><a href="#">Categories</a></li>-->
<!--                  </ul>-->
<!--                </div>-->

<!--                <div class="mb-5">-->
<!--                  <h3>Social</h3>-->
<!--                  <ul class="list-unstyled footer-social">-->
<!--                    <li><a href="#"><span class="fa fa-twitter"></span> Twitter</a></li>-->
<!--                    <li><a href="#"><span class="fa fa-facebook"></span> Facebook</a></li>-->
<!--                    <li><a href="#"><span class="fa fa-instagram"></span> Instagram</a></li>-->
<!--                    <li><a href="#"><span class="fa fa-vimeo"></span> Vimeo</a></li>-->
<!--                    <li><a href="#"><span class="fa fa-youtube-play"></span> Youtube</a></li>-->
<!--                    <li><a href="#"><span class="fa fa-snapchat"></span> Snapshot</a></li>-->
<!--                  </ul>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="row">-->
<!--          <div class="col-md-12">-->
<!--            &lt;!&ndash; Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. &ndash;&gt;-->
<!--Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>-->
<!--&lt;!&ndash; Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. &ndash;&gt;-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </footer>-->
{% endblock %}
