<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
    <!--<meta charset="UTF-8">-->
    <!--<title>contribute</title>-->
<!--</head>-->
<!--<body>-->
    <!--<div class="sidebar-box search-form-wrap">-->
              <!--<form action="#" class="search-form">-->
                <!--<div class="form-group">-->
                  <!--<span class="icon fa fa-search"></span>-->
                  <!--<input type="text" class="form-control" id="s" placeholder="Type a keyword and hit enter">-->
                <!--</div>-->
              <!--</form>-->
            <!--</div>-->
<!--</body>-->
<!--</html>-->
{% block content %}

    <form method="POST" class="post-form">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Save</button>
    </form>
{% endblock %}